.Header {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd836;
  background-image: url("../../assets/bbq_pattern.png");
  background-repeat: repeat;
  background-size: 30%;
  font-family: "Raleway", sans-serif;

  p {
    font-family: Raleway;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
  }

  .back {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 32px;
    cursor: pointer;
  }

  .logout {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    cursor: pointer;
  }
}
